body {
    max-width: 800px;
    background-color: rgb(2, 2, 79);
    background-image: url(images/bgImage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
form {
    margin-top: 40px;
}
h1 {
    margin: auto;
    text-align: center;
    color: white;
}
nav {
    text-align: center;
    margin-top: 7px;
}
a {
    color: white;
}
#character-container {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}
img {
    width: 25vw;
    height: 25vw;
}
#info-container {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}
#name {
    font-size: 35px;
    color: white;
}
#bio {
    margin-top: 20px;
    font-size: 20px;
    color: white;
    text-align: justify;
}
.button-container {
    margin-top: 20px;
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly;   
}
#series-container, #events-container {
    margin-top: 15px;
    color: white
}
h5 {
    text-align: center;
    color: white;
}
.events-results, .series-results {
    margin-top: 7px;
}
button {
    display: none;
}
.about-text {
    font-size: 20px;
    text-align: justify;
    margin: 120px auto 100px;
    max-width: 310px;
    color: white;
}
footer {
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/* tooltip code modified from https://www.w3schools.com/css/css_tooltip.asp */
.tooltip {
    position: relative;
    display: inline-block
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: gray;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
  }
  .tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent gray transparent;
  }
