body {
    max-width: 800px;
    background-color: rgb(2, 2, 79);
    background-image: url(images/bgImage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
form {
    margin-top: 50px;
}
.input-box {
    width: 175px;
}
h1 {
    margin: auto;
    text-align: center;
    color: white;
}
nav {
    text-align: center;
    margin-top: 7px;
}
a {
    color: white;
}
#character-container {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}
img {
    width: 25vw;
    height: 25vw;
    border: 2px solid gray;
    border-radius: 3px;
}
#info-container {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}
#name {
    font-size: 35px;
    color: white;
}
#bio {
    margin-top: 20px;
    font-size: 20px;
    color: white;
    text-align: justify;
}
.button-container {
    margin-top: 20px;
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly;   
}
#series-container, #events-container {
    margin-top: 15px;
    color: white
}
h5 {
    text-align: center;
    color: white;
}
.events-results, .series-results {
    margin-top: 7px;
}
button {
    display: none;
}
.about-text {
    font-size: 20px;
    text-align: justify;
    margin: 120px auto 100px;
    max-width: 310px;
    color: white;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 20px;
}
footer {
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#modal {
    background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
    overflow: auto;  
    display: none;
}
#modal-textbox {
    background-color: rgb(215, 213, 213);
    height: 250px;
    width: 400px;
    border-radius: 4px;
    margin: 200px auto;
    padding: 10px;
    line-height: 120%;
}
.modal-button {
	padding: 10px 15px;
	background-color: #677996;
	border: none;
	outline: none;
	border-radius: 3px;
	color: white;
	font-family: 'Arial';
	cursor: pointer;
}
#modal-footer {
	text-align: right;
}


/* tooltip code below modified from https://www.w3schools.com/css/css_tooltip.asp */
.tooltip {
    position: relative;
    display: inline-block
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: gray;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
  }
  .tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent gray transparent;
  }
